.fl-input-enhanced button,
.fl-input-enhanced input,
.fl-input-enhanced select,
.fl-input-enhanced textarea,
.fl-input-enhanced .fl-input-enhance {
  font-size: 125% !important;
}
.fl-input-enhanced a {
  font-size: 125% !important;
  text-decoration: underline !important;
  font-weight: bold !important;
}
.fl-theme-bw:not(.no-high-contrast),
.fl-theme-bw *:not(.no-high-contrast),
.fl-preview-theme.fl-theme-bw:not(.no-high-contrast),
.fl-theme-bw div:not(.no-high-contrast),
.fl-theme-bw input:not(.no-high-contrast),
.fl-theme-bw h1:not(.no-high-contrast),
.fl-theme-bw h2:not(.no-high-contrast),
.fl-theme-bw h3:not(.no-high-contrast),
.fl-theme-bw h4:not(.no-high-contrast),
.fl-theme-bw h5:not(.no-high-contrast),
.fl-theme-bw h6:not(.no-high-contrast) {
  color: #000 !important;
  background-color: #fff !important;
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-bottom-color: #000 !important;
  border-left-color: #000 !important;
}
.fl-theme-bw iframe:not(.no-high-contrast) {
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-bottom-color: #000 !important;
  border-left-color: #000 !important;
}
.fl-theme-bw a:not(.no-high-contrast) {
  color: #000 !important;
  font-weight: bold !important;
  background-color: #fff !important;
}
.fl-theme-bw th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
  background-color: #000 !important;
  color: #fff !important;
}
.fl-theme-bw td:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
}
.fl-theme-bw .fl-focus:focus:not(.no-high-contrast),
.fl-theme-bw .fl-focus :focus:not(.no-high-contrast),
.fl-theme-bw.fl-focus :focus:not(.no-high-contrast),
.fl-theme-bw .selectable:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #000;
}
.fl-theme-bw .fl-reorderer-dropMarker:not(.no-high-contrast) {
  background-color: #f00 !important;
}
.fl-theme-bw .fl-inlineEdit-edit:not(.no-high-contrast) {
  background-color: #000 !important;
  color: #fff !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #fff !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #fff !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #fff !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #fff !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
.fl-theme-bw .fl-textfieldStepper .fl-textfieldStepper-textField:not(.no-high-contrast) {
  border: solid 1px #000;
}
.fl-theme-bw .fl-textfieldStepper .fl-textfieldStepper-button:disabled:not(.no-high-contrast) {
  visibility: hidden;
}
.fl-theme-bw.fl-inverted-color:not(.no-high-contrast),
.fl-theme-bw.fl-inverted-color *:not(.no-high-contrast),
.fl-preview-theme.fl-theme-bw.fl-inverted-color:not(.no-high-contrast) {
  color: #fff !important;
  background-color: #000 !important;
  border-top-color: #fff !important;
  border-right-color: #fff !important;
  border-bottom-color: #fff !important;
  border-left-color: #fff !important;
}
.fl-theme-bw.fl-inverted-color.fl-focus :focus:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #fff;
}
.fl-theme-bw .fl-inverted-color:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color *:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color div:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color input:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color h1:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color h2:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color h3:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color h4:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color h5:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color h6:not(.no-high-contrast) {
  color: #fff !important;
  background-color: #000 !important;
  border-top-color: #fff !important;
  border-right-color: #fff !important;
  border-bottom-color: #fff !important;
  border-left-color: #fff !important;
}
.fl-theme-bw .fl-inverted-color iframe:not(.no-high-contrast) {
  border-top-color: #fff !important;
  border-right-color: #fff !important;
  border-bottom-color: #fff !important;
  border-left-color: #fff !important;
}
.fl-theme-bw .fl-inverted-color a:not(.no-high-contrast) {
  color: #fff !important;
  font-weight: bold !important;
  background-color: #000 !important;
}
.fl-theme-bw .fl-inverted-color th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #fff !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #fff !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #fff !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #fff !important;
  background-color: #fff !important;
  color: #000 !important;
}
.fl-theme-bw .fl-inverted-color td:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #fff !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #fff !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #fff !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #fff !important;
}
.fl-theme-bw .fl-inverted-color .fl-focus:focus:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color .fl-focus :focus:not(.no-high-contrast),
.fl-theme-bw .fl-inverted-color .selectable:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #fff;
}
.fl-theme-bw .fl-inverted-color .fl-reorderer-dropMarker:not(.no-high-contrast) {
  background-color: #f00 !important;
}
.fl-theme-bw .fl-inverted-color .fl-inlineEdit-edit:not(.no-high-contrast) {
  background-color: #fff !important;
  color: #000 !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
.fl-theme-wb:not(.no-high-contrast),
.fl-theme-wb *:not(.no-high-contrast),
.fl-preview-theme.fl-theme-wb:not(.no-high-contrast),
.fl-theme-wb div:not(.no-high-contrast),
.fl-theme-wb input:not(.no-high-contrast),
.fl-theme-wb h1:not(.no-high-contrast),
.fl-theme-wb h2:not(.no-high-contrast),
.fl-theme-wb h3:not(.no-high-contrast),
.fl-theme-wb h4:not(.no-high-contrast),
.fl-theme-wb h5:not(.no-high-contrast),
.fl-theme-wb h6:not(.no-high-contrast) {
  color: #fff !important;
  background-color: #000 !important;
  border-top-color: #fff !important;
  border-right-color: #fff !important;
  border-bottom-color: #fff !important;
  border-left-color: #fff !important;
}
.fl-theme-wb iframe:not(.no-high-contrast) {
  border-top-color: #fff !important;
  border-right-color: #fff !important;
  border-bottom-color: #fff !important;
  border-left-color: #fff !important;
}
.fl-theme-wb a:not(.no-high-contrast) {
  color: #fff !important;
  font-weight: bold !important;
  background-color: #000 !important;
}
.fl-theme-wb th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #fff !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #fff !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #fff !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #fff !important;
  background-color: #fff !important;
  color: #000 !important;
}
.fl-theme-wb td:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #fff !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #fff !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #fff !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #fff !important;
}
.fl-theme-wb .fl-focus:focus:not(.no-high-contrast),
.fl-theme-wb .fl-focus :focus:not(.no-high-contrast),
.fl-theme-wb.fl-focus :focus:not(.no-high-contrast),
.fl-theme-wb .selectable:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #fff;
}
.fl-theme-wb .fl-reorderer-dropMarker:not(.no-high-contrast) {
  background-color: #f00 !important;
}
.fl-theme-wb .fl-inlineEdit-edit:not(.no-high-contrast) {
  background-color: #fff !important;
  color: #000 !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
.fl-theme-wb .fl-textfieldStepper .fl-textfieldStepper-textField:not(.no-high-contrast) {
  border: solid 1px #fff;
}
.fl-theme-wb .fl-textfieldStepper .fl-textfieldStepper-button:disabled:not(.no-high-contrast) {
  visibility: hidden;
}
.fl-theme-wb.fl-inverted-color:not(.no-high-contrast),
.fl-theme-wb.fl-inverted-color *:not(.no-high-contrast),
.fl-preview-theme.fl-theme-wb.fl-inverted-color:not(.no-high-contrast) {
  color: #000 !important;
  background-color: #fff !important;
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-bottom-color: #000 !important;
  border-left-color: #000 !important;
}
.fl-theme-wb.fl-inverted-color.fl-focus :focus:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #000;
}
.fl-theme-wb .fl-inverted-color:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color *:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color div:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color input:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color h1:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color h2:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color h3:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color h4:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color h5:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color h6:not(.no-high-contrast) {
  color: #000 !important;
  background-color: #fff !important;
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-bottom-color: #000 !important;
  border-left-color: #000 !important;
}
.fl-theme-wb .fl-inverted-color iframe:not(.no-high-contrast) {
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-bottom-color: #000 !important;
  border-left-color: #000 !important;
}
.fl-theme-wb .fl-inverted-color a:not(.no-high-contrast) {
  color: #000 !important;
  font-weight: bold !important;
  background-color: #fff !important;
}
.fl-theme-wb .fl-inverted-color th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
  background-color: #000 !important;
  color: #fff !important;
}
.fl-theme-wb .fl-inverted-color td:not(.no-high-contrast){
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
}
.fl-theme-wb .fl-inverted-color .fl-focus:focus:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color .fl-focus :focus:not(.no-high-contrast),
.fl-theme-wb .fl-inverted-color .selectable:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #000;
}
.fl-theme-wb .fl-inverted-color .fl-reorderer-dropMarker:not(.no-high-contrast) {
  background-color: #f00 !important;
}
.fl-theme-wb .fl-inverted-color .fl-inlineEdit-edit:not(.no-high-contrast) {
  background-color: #000 !important;
  color: #fff !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #fff !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #fff !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #fff !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #fff !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
.fl-theme-yb:not(.no-high-contrast),
.fl-theme-yb *:not(.no-high-contrast),
.fl-preview-theme.fl-theme-yb:not(.no-high-contrast),
.fl-theme-yb div:not(.no-high-contrast),
.fl-theme-yb input:not(.no-high-contrast),
.fl-theme-yb h1:not(.no-high-contrast),
.fl-theme-yb h2:not(.no-high-contrast),
.fl-theme-yb h3:not(.no-high-contrast),
.fl-theme-yb h4:not(.no-high-contrast),
.fl-theme-yb h5:not(.no-high-contrast),
.fl-theme-yb h6:not(.no-high-contrast) {
  color: #ff0 !important;
  background-color: #000 !important;
  border-top-color: #ff0 !important;
  border-right-color: #ff0 !important;
  border-bottom-color: #ff0 !important;
  border-left-color: #ff0 !important;
}
.fl-theme-yb iframe:not(.no-high-contrast) {
  border-top-color: #ff0 !important;
  border-right-color: #ff0 !important;
  border-bottom-color: #ff0 !important;
  border-left-color: #ff0 !important;
}
.fl-theme-yb a:not(.no-high-contrast) {
  color: #ff0 !important;
  font-weight: bold !important;
  background-color: #000 !important;
}
.fl-theme-yb th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #ff0 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #ff0 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #ff0 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #ff0 !important;
  background-color: #ff0 !important;
  color: #000 !important;
}
.fl-theme-yb td:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #ff0 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #ff0 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #ff0 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #ff0 !important;
}
.fl-theme-yb .fl-focus:focus:not(.no-high-contrast),
.fl-theme-yb .fl-focus :focus:not(.no-high-contrast),
.fl-theme-yb.fl-focus :focus:not(.no-high-contrast),
.fl-theme-yb .selectable:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #ff0;
}
.fl-theme-yb .fl-reorderer-dropMarker:not(.no-high-contrast) {
  background-color: #f00 !important;
}
.fl-theme-yb .fl-inlineEdit-edit:not(.no-high-contrast) {
  background-color: #ff0 !important;
  color: #000 !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
.fl-theme-yb .fl-textfieldStepper .fl-textfieldStepper-textField:not(.no-high-contrast) {
  border: solid 1px #ff0;
}
.fl-theme-yb .fl-textfieldStepper .fl-textfieldStepper-button:disabled:not(.no-high-contrast) {
  visibility: hidden;
}
.fl-theme-yb.fl-inverted-color:not(.no-high-contrast),
.fl-theme-yb.fl-inverted-color *:not(.no-high-contrast),
.fl-preview-theme.fl-theme-yb.fl-inverted-color:not(.no-high-contrast) {
  color: #000 !important;
  background-color: #ff0 !important;
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-bottom-color: #000 !important;
  border-left-color: #000 !important;
}
.fl-theme-yb.fl-inverted-color.fl-focus :focus:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #000;
}
.fl-theme-yb .fl-inverted-color:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color *:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color div:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color input:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color h1:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color h2:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color h3:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color h4:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color h5:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color h6:not(.no-high-contrast) {
  color: #000 !important;
  background-color: #ff0 !important;
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-bottom-color: #000 !important;
  border-left-color: #000 !important;
}
.fl-theme-yb .fl-inverted-color iframe:not(.no-high-contrast) {
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-bottom-color: #000 !important;
  border-left-color: #000 !important;
}
.fl-theme-yb .fl-inverted-color a:not(.no-high-contrast) {
  color: #000 !important;
  font-weight: bold !important;
  background-color: #ff0 !important;
}
.fl-theme-yb .fl-inverted-color th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
  background-color: #000 !important;
  color: #ff0 !important;
}
.fl-theme-yb .fl-inverted-color td:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
}
.fl-theme-yb .fl-inverted-color .fl-focus:focus:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color .fl-focus :focus:not(.no-high-contrast),
.fl-theme-yb .fl-inverted-color .selectable:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #000;
}
.fl-theme-yb .fl-inverted-color .fl-reorderer-dropMarker:not(.no-high-contrast) {
  background-color: #f00 !important;
}
.fl-theme-yb .fl-inverted-color .fl-inlineEdit-edit:not(.no-high-contrast) {
  background-color: #000 !important;
  color: #ff0 !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #ff0 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #ff0 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #ff0 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #ff0 !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
.fl-theme-by:not(.no-high-contrast),
.fl-theme-by *:not(.no-high-contrast),
.fl-preview-theme.fl-theme-by:not(.no-high-contrast),
.fl-theme-by div:not(.no-high-contrast),
.fl-theme-by input:not(.no-high-contrast),
.fl-theme-by h1:not(.no-high-contrast),
.fl-theme-by h2:not(.no-high-contrast),
.fl-theme-by h3:not(.no-high-contrast),
.fl-theme-by h4:not(.no-high-contrast),
.fl-theme-by h5:not(.no-high-contrast),
.fl-theme-by h6:not(.no-high-contrast) {
  color: #000 !important;
  background-color: #ff0 !important;
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-bottom-color: #000 !important;
  border-left-color: #000 !important;
}
.fl-theme-by iframe:not(.no-high-contrast) {
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-bottom-color: #000 !important;
  border-left-color: #000 !important;
}
.fl-theme-by a:not(.no-high-contrast) {
  color: #000 !important;
  font-weight: bold !important;
  background-color: #ff0 !important;
}
.fl-theme-by th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
  background-color: #000 !important;
  color: #ff0 !important;
}
.fl-theme-by td:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
}
.fl-theme-by .fl-focus:focus:not(.no-high-contrast),
.fl-theme-by .fl-focus :focus:not(.no-high-contrast),
.fl-theme-by.fl-focus :focus:not(.no-high-contrast),
.fl-theme-by .selectable:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #000;
}
.fl-theme-by .fl-reorderer-dropMarker:not(.no-high-contrast) {
  background-color: #f00 !important;
}
.fl-theme-by .fl-inlineEdit-edit:not(.no-high-contrast) {
  background-color: #000 !important;
  color: #ff0 !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #ff0 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #ff0 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #ff0 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #ff0 !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
.fl-theme-by .fl-textfieldStepper .fl-textfieldStepper-textField:not(.no-high-contrast) {
  border: solid 1px #000;
}
.fl-theme-by .fl-textfieldStepper .fl-textfieldStepper-button:disabled:not(.no-high-contrast) {
  visibility: hidden;
}
.fl-theme-by.fl-inverted-color:not(.no-high-contrast),
.fl-theme-by.fl-inverted-color *:not(.no-high-contrast),
.fl-preview-theme.fl-theme-by.fl-inverted-color:not(.no-high-contrast) {
  color: #ff0 !important;
  background-color: #000 !important;
  border-top-color: #ff0 !important;
  border-right-color: #ff0 !important;
  border-bottom-color: #ff0 !important;
  border-left-color: #ff0 !important;
}
.fl-theme-by.fl-inverted-color.fl-focus :focus:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #ff0;
}
.fl-theme-by .fl-inverted-color:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color *:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color div:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color input:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color h1:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color h2:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color h3:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color h4:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color h5:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color h6:not(.no-high-contrast) {
  color: #ff0 !important;
  background-color: #000 !important;
  border-top-color: #ff0 !important;
  border-right-color: #ff0 !important;
  border-bottom-color: #ff0 !important;
  border-left-color: #ff0 !important;
}
.fl-theme-by .fl-inverted-color iframe:not(.no-high-contrast) {
  border-top-color: #ff0 !important;
  border-right-color: #ff0 !important;
  border-bottom-color: #ff0 !important;
  border-left-color: #ff0 !important;
}
.fl-theme-by .fl-inverted-color a:not(.no-high-contrast) {
  color: #ff0 !important;
  font-weight: bold !important;
  background-color: #000 !important;
}
.fl-theme-by .fl-inverted-color th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #ff0 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #ff0 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #ff0 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #ff0 !important;
  background-color: #ff0 !important;
  color: #000 !important;
}
.fl-theme-by .fl-inverted-color td:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #ff0 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #ff0 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #ff0 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #ff0 !important;
}
.fl-theme-by .fl-inverted-color .fl-focus:focus:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color .fl-focus :focus:not(.no-high-contrast),
.fl-theme-by .fl-inverted-color .selectable:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #ff0;
}
.fl-theme-by .fl-inverted-color .fl-reorderer-dropMarker:not(.no-high-contrast) {
  background-color: #f00 !important;
}
.fl-theme-by .fl-inverted-color .fl-inlineEdit-edit:not(.no-high-contrast) {
  background-color: #ff0 !important;
  color: #000 !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000 !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
.fl-theme-lgdg:not(.no-high-contrast),
.fl-theme-lgdg *:not(.no-high-contrast),
.fl-preview-theme.fl-theme-lgdg:not(.no-high-contrast),
.fl-theme-lgdg div:not(.no-high-contrast),
.fl-theme-lgdg input:not(.no-high-contrast),
.fl-theme-lgdg h1:not(.no-high-contrast),
.fl-theme-lgdg h2:not(.no-high-contrast),
.fl-theme-lgdg h3:not(.no-high-contrast),
.fl-theme-lgdg h4:not(.no-high-contrast),
.fl-theme-lgdg h5:not(.no-high-contrast),
.fl-theme-lgdg h6:not(.no-high-contrast) {
  color: #bdbdbb !important;
  background-color: #555 !important;
  border-top-color: #bdbdbb !important;
  border-right-color: #bdbdbb !important;
  border-bottom-color: #bdbdbb !important;
  border-left-color: #bdbdbb !important;
}
.fl-theme-lgdg iframe:not(.no-high-contrast) {
  border-top-color: #bdbdbb !important;
  border-right-color: #bdbdbb !important;
  border-bottom-color: #bdbdbb !important;
  border-left-color: #bdbdbb !important;
}
.fl-theme-lgdg a:not(.no-high-contrast) {
  color: #bdbdbb !important;
  font-weight: bold !important;
  background-color: #555 !important;
}
.fl-theme-lgdg th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #bdbdbb !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #bdbdbb !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #bdbdbb !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #bdbdbb !important;
  background-color: #bdbdbb !important;
  color: #555 !important;
}
.fl-theme-lgdg td:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #bdbdbb !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #bdbdbb !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #bdbdbb !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #bdbdbb !important;
}
.fl-theme-lgdg .fl-focus:focus:not(.no-high-contrast),
.fl-theme-lgdg .fl-focus :focus:not(.no-high-contrast),
.fl-theme-lgdg.fl-focus :focus:not(.no-high-contrast),
.fl-theme-lgdg .selectable:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #bdbdbb;
}
.fl-theme-lgdg .fl-reorderer-dropMarker:not(.no-high-contrast) {
  background-color: #f00 !important;
}
.fl-theme-lgdg .fl-inlineEdit-edit:not(.no-high-contrast) {
  background-color: #bdbdbb !important;
  color: #555 !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #555 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #555 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #555 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #555 !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
.fl-theme-lgdg .fl-textfieldStepper .fl-textfieldStepper-textField:not(.no-high-contrast) {
  border: solid 1px #bdbdbb;
}
.fl-theme-lgdg .fl-textfieldStepper .fl-textfieldStepper-button:disabled:not(.no-high-contrast) {
  visibility: hidden;
}
.fl-theme-lgdg.fl-inverted-color:not(.no-high-contrast),
.fl-theme-lgdg.fl-inverted-color *:not(.no-high-contrast),
.fl-preview-theme.fl-theme-lgdg.fl-inverted-color:not(.no-high-contrast) {
  color: #555 !important;
  background-color: #bdbdbb !important;
  border-top-color: #555 !important;
  border-right-color: #555 !important;
  border-bottom-color: #555 !important;
  border-left-color: #555 !important;
}
.fl-theme-lgdg.fl-inverted-color.fl-focus :focus:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #555;
}
.fl-theme-lgdg .fl-inverted-color:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color *:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color div:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color input:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color h1:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color h2:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color h3:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color h4:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color h5:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color h6:not(.no-high-contrast) {
  color: #555 !important;
  background-color: #bdbdbb !important;
  border-top-color: #555 !important;
  border-right-color: #555 !important;
  border-bottom-color: #555 !important;
  border-left-color: #555 !important;
}
.fl-theme-lgdg .fl-inverted-color iframe:not(.no-high-contrast) {
  border-top-color: #555 !important;
  border-right-color: #555 !important;
  border-bottom-color: #555 !important;
  border-left-color: #555 !important;
}
.fl-theme-lgdg .fl-inverted-color a:not(.no-high-contrast) {
  color: #555 !important;
  font-weight: bold !important;
  background-color: #bdbdbb !important;
}
.fl-theme-lgdg .fl-inverted-color th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #555 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #555 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #555 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #555 !important;
  background-color: #555 !important;
  color: #bdbdbb !important;
}
.fl-theme-lgdg .fl-inverted-color td:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #555 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #555 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #555 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #555 !important;
}
.fl-theme-lgdg .fl-inverted-color .fl-focus:focus:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color .fl-focus :focus:not(.no-high-contrast),
.fl-theme-lgdg .fl-inverted-color .selectable:not(.no-high-contrast) {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #555;
}
.fl-theme-lgdg .fl-inverted-color .fl-reorderer-dropMarker:not(.no-high-contrast) {
  background-color: #f00 !important;
}
.fl-theme-lgdg .fl-inverted-color .fl-inlineEdit-edit:not(.no-high-contrast) {
  background-color: #555 !important;
  color: #bdbdbb !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #bdbdbb !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #bdbdbb !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #bdbdbb !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #bdbdbb !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
.fl-font-arial:not([class*='icon']),
.fl-font-arial *:not([class*='icon']) {
  font-family: Arial !important;
}
.fl-font-verdana:not([class*='icon']),
.fl-font-verdana *:not([class*='icon']) {
  font-family: Verdana !important;
}
.fl-font-times:not([class*='icon']),
.fl-font-times *:not([class*='icon']) {
  font-family: Georgia, Times, Times New Roman, serif !important;
}
.fl-font-comic-sans:not([class*='icon']),
.fl-font-comic-sans *:not([class*='icon']) {
  font-family: Comic Sans MS, sans-serif !important;
}

:root {
  --background-color: rgb(255,255,255);
  --foreground-color: rgb(0,0,0);
  --link-color: rgb(255,255,0);
  --highlight-color: rgb(211,211,211);
}
.customized:not(.no-high-contrast),
.customized *:not(.no-high-contrast),
.customized.customized:not(.no-high-contrast),
.customized div:not(.no-high-contrast),
.customized input:not(.no-high-contrast),
.customized h1:not(.no-high-contrast),
.customized h2:not(.no-high-contrast),
.customized h3:not(.no-high-contrast),
.customized h4:not(.no-high-contrast),
.customized h5:not(.no-high-contrast),
.customized h6:not(.no-high-contrast) {
  color: var(--foreground-color) !important;
  background-color: var(--background-color) !important;
  border-top-color: var(--foreground-color) !important;
  border-right-color:  var(--foreground-color)!important;
  border-bottom-color:  var(--foreground-color)!important;
  border-left-color:  var(--foreground-color)!important;
}
.customized iframe:not(.no-high-contrast) {
  border-top-color:  var(--foreground-color) !important;
  border-right-color:  var(--foreground-color) !important;
  border-bottom-color:  var(--foreground-color) !important;
  border-left-color:  var(--foreground-color) !important;
}
.customized a:not(.no-high-contrast) {
  color:  var(--link-color) !important;
  font-weight: bold !important;
  background-color: var(--background-color) !important;
}
.customized th:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color:  var(--foreground-color) !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color:  var(--foreground-color) !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color:  var(--foreground-color) !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color:  var(--foreground-color) !important;
  background-color:  var(--background-color) !important;
  color: var(--foreground-color) !important;
}
.customized td:not(.no-high-contrast) {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color:  var(--foreground-color) !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color:  var(--foreground-color) !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color:  var(--foreground-color) !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color:  var(--foreground-color) !important;
}
.customized ::selection {
  background-color: var(--highlight-color) !important;
}

.customized ::-moz-selection {
  background-color: var(--highlight-color) !important;
}
