#unalTop{position:relative;z-index:1}
#unalTop .firstMenu{background:#666;height:30px}

#unalTop .logo{-moz-transition:width .5s, height .5s;-ms-transition:width .5s, height .5s;-o-transition:width .5s, height .5s;-webkit-transition:width .5s, height .5s; background:no-repeat url(../img/sealBck.png);float:left;height:auto;margin-left:10px;position:absolute;text-align:center;transition:width .5s, height .5s;width:234px;z-index:2}
#unalTop .logo img{-moz-transition:width .5s, height .5s;-ms-transition:width .5s, height .5s;-o-transition:width .5s, height .5s;-webkit-transition:width .5s, height .5s;margin:35px auto;transition:width .5s, height .5s;width:172px!important}
#unalTop .logo .diag{background:transparent;position:absolute;width:242px}
#unalTop .seal{position:absolute;right:10px;top:37px;z-index:2}
.navigation{ background-color:#464646;color:#fff;height:85px;position:relative}
.navigation .site-url{background:no-repeat 0 0 url(../img/locDot.png);clear:both;float:left;font-size:2rem;height:17px;line-height:18px;margin:12px 10px 10px 210px;padding:0 0 0 20px}
.navigation .site-url a{color:snow; text-decoration:none}
.navigation .site-url a:hover {color:#8cadda;}


/*boton youtube*/

#unalTop ul.socialLinks{display:inline-block;float:right;margin:0 5px 0 20px;padding:0}
#unalTop ul.socialLinks dd{float:left;margin:5px 2px;padding:0}
#unalTop ul.socialLinks dd a{display:block;height:20px;width:20px}
#unalTop ul.socialLinks dd a.twitter,#unalTop ul.socialLinks dd a.facebook,#unalTop ul.socialLinks dd a.email,#unalTop ul.socialLinks dd a.rss{background:no-repeat 0 0 url(../images/icnSocial.png)}
#unalTop ul.socialLinks dd a.twitter:hover{background-position:0 -21px}
#unalTop ul.socialLinks dd a.facebook{background-position:-21px 0}
#unalTop ul.socialLinks dd a.facebook:hover{background-position:-21px -21px}
#unalTop ul.socialLinks dd a.email{background-position:-42px 0}
#unalTop ul.socialLinks dd a.email:hover{background-position:-42px -21px}
#unalTop ul.socialLinks dd a.rss{background-position:-63px 0}
#unalTop ul.socialLinks dd a.rss:hover{background-position:-63px -21px}

html {
    width:100%;
    height:100%;
}

.serif {
    font-family:'PT Serif', serif !important;
}

.sans {
    font-family:"Open Sans", sans-serif !important;
}
.cantarell {
    font-family: 'Cantarell', sans-serif !important;
}

.sourceCodePRO {
    font-family: 'Source Code Pro', monospace !important;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
body {
    overflow-x:hidden;
    font-family:"Open Sans", sans-serif;
    width:100%;
    height:100%;
}

.page {
    width:100%;
    height: 100%;
}

section {
    padding:50px 0;
}

.container-fluid {
    padding:0 30px;
}
@media (max-width: 575px) {
    .container-fluid {
        padding:0 15px;
    }
}

.content-inner {
    position:relative;
    width:calc(100% - 210px);
    min-height:calc(100vh - 70px);
    padding-bottom:60px
}
.content-inner.active {
    width:calc(100% - 90px)
}

.no-padding {
    padding:0 !important
}
.no-padding-bottom {
    padding-bottom:0 !important
}
.no-padding-top {
    padding-top:0 !important
}
.no-margin {
    margin:0 !important
}
.no-margin-bottom {
    margin-bottom:0 !important
}
.no-margin-top {
    margin-top:0 !important
}
.page {
    overflow-x:hidden
}

nav.side-navbar {
    font-size: 1.083rem;
    background:#2a3542;
    min-width:210px;
    max-width:210px;
    color:#aeb2b7;
    -webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.1);
    box-shadow:1px 1px 1px rgba(0,0,0,0.1);
}
nav.side-navbar a {
    color:inherit;
    position:relative;
    font-size:0.9em
}
nav.side-navbar a[data-toggle="collapse"]::before {
    content:'\f104';
    display:inline-block;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    font-family:'FontAwesome';
    position:absolute;
    top:50%;
    right:20px
}
nav.side-navbar a[aria-expanded="true"] {
    background:#EEF5F9
}
nav.side-navbar a[aria-expanded="true"]::before {
    content:'\f107'
}
nav.side-navbar a i {
    font-size:1.2em;
    margin-right:10px;
    -webkit-transition:none;
    transition:none
}
nav.side-navbar a:hover i,nav.side-navbar a:focus i{
    color:green;
}
nav.side-navbar .sidebar-header {
    padding:10px 15px
}
nav.side-navbar .avatar {
    width:55px;
    height:55px
}
nav.side-navbar .title {
    margin-left:10px
}
nav.side-navbar .title h1 {
    color:#333
}
nav.side-navbar .title p {
    font-size:0.9em;
    font-weight:200;
    margin-bottom:0;
    color:#aaa
}
nav.side-navbar span.heading {
    text-transform:uppercase;
    font-weight:400;
    margin-left:20px;
    color:#ccc;
    font-size:0.8em
}

nav.side-navbar ul li a {
    padding:15px 0px 15px 10px;
    text-decoration:none;
    display:block;
    font-weight:300;
}

nav.side-navbar ul li a:hover,
nav.side-navbar ul li.active>a,
nav.side-navbar ul li.active>a:hover,
nav.side-navbar ul li li.active>a  {
    background: #35404d;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
nav.side-navbar ul li li a {
    padding-left:50px;
    background:#EEF5F9
}

nav.side-navbar ul li ul {
    padding:0
}
nav.side-navbar.shrinked {
    min-width:90px;
    max-width:90px;
    text-align:center
}
nav.side-navbar.shrinked span.heading {
    margin:0
}
nav.side-navbar.shrinked ul li a {
    padding:15px 2px;
    border:none;
    font-size:1.083rem;
    color:#aaa;
    -webkit-transition:color 0.3s, background 0.3s;
    transition:color 0.3s, background 0.3s
}
nav.side-navbar.shrinked ul li a[data-toggle="collapse"]::before {
    content:'\f107';
    -webkit-transform:translateX(50%);
    transform:translateX(50%);
    position:absolute;
    top:auto;
    right:50%;
    bottom:0;
    left:auto
}
nav.side-navbar.shrinked ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
    content:'\f106'
}
nav.side-navbar.shrinked ul li a:hover {
    color:#fff;
    border:none
}
nav.side-navbar.shrinked ul li a:hover i {
    color:#fff
}

nav.side-navbar.shrinked ul li a i {
    margin-right:0;
    margin-bottom:2px;
    display:block;
    font-size:1rem;
    -webkit-transition:color 0.3s;
    transition:color 0.3s
}
nav.side-navbar.shrinked ul li.active>a {
    color:#fff
}
nav.side-navbar.shrinked ul li.active>a i {
    color:#fff
}
nav.side-navbar.shrinked .sidebar-header .title {
    display:none
}
@media (max-width: 1199px) {
    nav.side-navbar {
        margin-left:-90px;
        min-width:90px;
        max-width:90px;
        text-align:center;
        overflow:hidden
    }
    nav.side-navbar span.heading {
        margin:0
    }
    nav.side-navbar ul li a {
        padding:15px 2px;
        border:none;
        font-size:0.8em;
        color:#aaa;
        -webkit-transition:color 0.3s, background 0.3s;
        transition:color 0.3s, background 0.3s
    }
    nav.side-navbar ul li a[data-toggle="collapse"]::before {
        content:'\f107';
        -webkit-transform:translateX(50%);
        transform:translateX(50%);
        position:absolute;
        top:auto;
        right:50%;
        bottom:0;
        left:auto
    }
    nav.side-navbar ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
        content:'\f106'
    }
    nav.side-navbar ul li a:hover {
        color:#fff;
        border:none
    }
    nav.side-navbar ul li a:hover i {
        color:#fff
    }
    nav.side-navbar ul li a i {
        margin-right:0;
        margin-bottom:5px;
        display:block;
        font-size:1.6em;
        color:#333;
        -webkit-transition:color 0.3s;
        transition:color 0.3s
    }
    nav.side-navbar ul li.active>a {
        color:#fff
    }
    nav.side-navbar ul li.active>a i {
        color:#fff
    }
    nav.side-navbar .sidebar-header .title {
        display:none
    }
    nav.side-navbar.shrinked {
        margin-left:0
    }
    .content-inner {
        width:100%
    }
    .content-inner.active {
        width:calc(100% - 90px)
    }
}


footer.main-footer {
    position:absolute;
    bottom:0;
    width:100%;
    background:#2f333e;
    color:#fff;
    padding:20px 10px
}
footer.main-footer a {
    color:inherit
}
footer.main-footer p {
    margin:0;
    font-size:0.8em
}
@media (max-width: 575px) {
    footer.main-footer div[class*='col'] {
        text-align:center !important
    }
}

.symbol i {
    font-size: 4.167rem;
    color:white;
}

.symbol {
	padding: 25px 15px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}
.value {
    color:#44578d;
}
.value .numeros {
    font-size:3.333rem;
}
.value p {
    font-size:1rem;
}
.info-repo > ul > li > a {
    color:black !important;
}

.info-repo ul li a i {
    color: #bcb3aa;
}
.login-body{
    background:#f1f2f7;
}

.form-signin {
	max-width: 330px;
	margin: 100px auto 0;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.login-wrap {
	padding: 20px;
}
.form-signin p.form-signin-heading {
	margin: 0;
	padding: 20px 15px;
	text-align: center;
	background: white;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #09757a;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #eaeaea;
	box-shadow: none;
	font-size: 12px;
}
.form-signin .checkbox {
	font-weight: normal;
	color: #000;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.img-profile-user {
	width: 112px;
	height: 112px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.user-header {
	background: #ff766c;
	color: #fff;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	padding: 30px;
	text-align: center;
}
.bio-graph-info {
	color: #89817e;
}
.bio-row {
	width: 50%;
	float: left;
	margin-bottom: 10px;
	padding: 0 15px;
}

.profile-nav  li > a {
	color: #000;
}
.insideiframe{
    overflow-y: auto !important;
}