<div class="collapse container-fluid" id="collapseExample">
    <ul class="nav nav-tabs" id="accessibilityTab" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="interfaz-tab" data-toggle="tab" href="#interfaz" role="tab" aria-controls="interfaz" aria-selected="true">Interfaz</a>
</li>
<li class="nav-item">
<a class="nav-link" id="narrator-tab" data-toggle="tab" href="#narrator" role="tab" aria-controls="narrador" aria-selected="false">Narrador</a>
</li>
<li class="nav-item">
<a class="nav-link" id="screen-reader-tab" data-toggle="tab" href="#screen-reader" role="tab" aria-controls="Lector de pantalla" aria-selected="false">Lector de pantalla</a>
</li>
</ul>
<div class="tab-content" id="myTabContent">
<br>
</div>
<br/>
</div>
